
body{
    font-size: 20px;
    background: rgb(121,113,255);
    background: linear-gradient(90deg, rgba(121,113,255,1) 0%, rgba(68,1,150,1) 50%, rgba(0,212,255,1) 100%);
}
p{
    color:lime;
    font-family: sans-serif;
}
.meme{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.direita{
    text-align: right;
    
}