body{
    font-size: 20px;
}
p{
    color:blue;
    font-family: sans-serif;
}
.meme{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.direita{
    text-align: right;
    
}